.tabbar {
  min-height: 1.5em;
  padding: 4px 2px 0;
  border-bottom: 1px solid #b6b6b6;
  background: #e0e0e0;
  font-size: 90%;

  cursor: default;
  -webkit-user-select: none;
  user-select: none;
}
