html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;

  background: transparent;
  color: #fff;
}

#root {
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  -webkit-app-region: drag;
  cursor: default;
}

.active body {
  background: rgba(0, 0, 0, 0.333);
}

.sub.my-comment {
  /* 文字色 */
  --foreground: #ff0;
  
  /* 縁取りの色 */
  --stroke-color: #005628;
  
  /* 影の色、ずらし幅、ぼかし幅 */
  --shadow-color: #006b33;
  --shadow-offset: 2px;
  --shadow-blur: 1px;
}

html.active .sub.my-comment:empty {
  /* 文字色 */
  --foreground: #999;
  
  /* 縁取りの色 */
  --stroke-color: #2b2b2b;
  
  /* 影の色、ずらし幅、ぼかし幅 */
  --shadow-color: #333;
  --shadow-offset: 2px;
  --shadow-blur: 1px;
}

html.active .sub.my-comment:empty::before {
  content: 'ここに入力したテキストは常に表示されます';
}

html:not(.active) .sub.my-comment:empty {
  display: none;
}

.sub.post-comment {
  /* 文字色 */
  --foreground: #36FF36;
  
  /* 縁取りの色 */
  --stroke-color: #002b60;
  
  /* 影の色、ずらし幅、ぼかし幅 */
  --shadow-color: #003a84;
  --shadow-offset: 2px;
  --shadow-blur: 2px;
}

.sub {
  -webkit-app-region: no-drag;

  margin: 0;

  color: var(--foreground);
  font-family: "游ゴシック", "ＭＳ Ｐゴシック", sans-serif;
  font-size: 32px;
  font-weight: bold;
  word-wrap: break-word;
  line-height: 1.2;
  text-shadow: 
    -1px -1px 0px var(--stroke-color), /* 左上 */
    -1px  0px 0px var(--stroke-color), /* 左 */
    -1px  1px 0px var(--stroke-color), /* 左下 */
     0px  1px 0px var(--stroke-color), /* 下 */
     1px  1px 0px var(--stroke-color), /* 右下 */
     1px  0px 0px var(--stroke-color), /* 右 */
     1px -1px 0px var(--stroke-color), /* 右上 */
     0px -1px 0px var(--stroke-color), /* 上 */
     
    calc(-1 * var(--shadow-offset)) calc(-1 * var(--shadow-offset)) var(--shadow-blur) var(--shadow-color), /* 左上 */
    calc(-1 * var(--shadow-offset))  0px var(--shadow-blur) var(--shadow-color), /* 左 */
    calc(-1 * var(--shadow-offset))  var(--shadow-offset) var(--shadow-blur) var(--shadow-color), /* 左下 */
    0px  var(--shadow-offset) var(--shadow-blur) var(--shadow-color), /* 下 */
    var(--shadow-offset)  var(--shadow-offset) var(--shadow-blur) var(--shadow-color), /* 右下 */
    var(--shadow-offset)  0px var(--shadow-blur) var(--shadow-color), /* 右 */
    var(--shadow-offset) calc(-1 * var(--shadow-offset)) var(--shadow-blur) var(--shadow-color), /* 右上 */
    0px calc(-1 * var(--shadow-offset)) var(--shadow-blur) var(--shadow-color); /* 上 */
}

.sub a {
  color: #8ecdf0;
  text-decoration: none;
}

.sub p {
  margin: 0;
}

.sub .author {
  color: #ccc;
}

.sub .author::after {
  content: ':  ';
}


.posts-container {
  display: flex;
  flex-direction: column-reverse;
}

.post[data-is-stale="true"] {
  display: none;
}

.post-comment {
  animation: show-comment 250ms ease 0s 1 normal;
}

@keyframes show-comment {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
