.post-number,
.post-mail,
.post-date {
  margin-right: 8px;
}

.post-name {
  color: green;
  font-weight: bold;
}

.post-mail::before {
  content: '[';
}

.post-mail::after {
  content: ']';
}

.post-date::before {
  content: '投稿日:';
}

.post-id::before {
  content: 'ID:';
}

.post-message {
  margin-left: 2em;
}
